<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="md-form mb-5">
        <i class="fas fa-envelope prefix grey-text"></i>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
             
       <div class="md-form">
             
                    
            <i class="fas fa-lock prefix grey-text"></i>
                        <%= f.label :password %>
                        <%= f.password_field :password, autocomplete: "new-password" %>
                      </div>

                      <div class="md-form mb-5">
                            <i class="fas fa-lock prefix grey-text"></i>
               
                        <%= f.label :password_confirmation %>
                        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                      </div>
                
        <p class="notice"><%= notice %></p>
        <p class="alert" style="color: red;"><%= alert %></p>

      <div class="modal-footer d-flex justify-content-center">
                <%= f.submit "Sign up", class: "btn btn-outline-danger waves-effect" %>
         
              </div>
      </div>
      <% end %>
    </div>
    </div>
  </div>
</div>

<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" id="openclickbtn" style="visibility: hidden;" data-toggle="modal" data-target="#modalRegisterForm"></a>
</div>


