<div class="bg-success">
<p id="notice"><%= notice %></p>
<div style="display: flex; justify-content:flex-end;">
<%= link_to 'New Jobpost', new_jobpost_path, class: 'btn btn-warning' %>
 <%= current_user.email %> logged in.
</div>
<h1 id="mainheading">Developer/Designer Jobs</h1>
<table class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
      <th class="th-sm">Title</th>
      <th class="th-sm">File</th>
      <th class="th-sm">Description</th>
      <th class="th-sm">Job Type</th>
      <th class="th-sm">User</th>
  
    </tr>
  </thead>

  <tbody>
    <% @jobposts.each do |jobpost| %>
      <tr>
        <td><%= jobpost.title %></td>
        <td><%= jobpost.uploadedfile.attached? ? image_tag(jobpost.uploadedfile, height: 50) : '' %></td>
        <td><%= jobpost.description %></td>
        <td><%= jobpost.jobtype %></td>
        <td><%= jobpost.user.email %></td>
        <td><%= link_to 'Show', jobpost %></td>
        <% if jobpost.can_edit?(current_user) %>
        <td><%= link_to 'Edit', edit_jobpost_path(jobpost) %></td>
        <td><%= link_to 'Destroy', jobpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>